@import "variables";

nav .nav-wrapper {
  background: $main-app-color;
}

.brand-logo {
  font-family: $helvetica;
}

li {
  font-family: $helvetica;
}

.center {
  color: $gray-unactive;
  font-size: 20px;
}

.dropdown-content {
  width: max-content !important;
  height: auto !important;
  top: 100% !important;
  border-radius: $defaultCornerRadius;

  & li a {
    color: $black-text-color;
    font-family: $helvetica;
    font-size: 15px;
    font-weight: bold;
  }
}

#greeting-header {
  font-family: $helvetica;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  margin-left: 3%;
}

#container {
  display: flex;
  position: absolute;
  left: 3%;
  right: 3%;

  & section {
    width: 100%;
    display: grid;
    flex-direction: row;

    .title {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      margin: 0;
      align-items: center;

      & h1 {
        font-family: $proxima;
        margin: 0;
        font-size: 25px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        color: $black-text-color;
      }

      & span {
        font-family: $proxima;
        margin: 0;
        font-size: 25px;
        font-weight: bold;
        margin-left: 8px;
        font-style: italic;
        text-align: center;
        color: $main-app-color;
      }
    }
  }
}

.left-right-wrapper {
  display: flex;
  width: 100%;
  margin-top: 15px;
  justify-content: space-between;
  .left {
    width: 25%;
    min-height: 180px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & .card {
      width: $cardWidth;
      height: $cardHeight;
      box-shadow: 0 0 16px #E6E6E6;
      border-radius: $defaultCornerRadius + 4px;

      .card-wrapper {
        height: 100%;
        padding: 15px;

        .card-header {
          width: 100%;
          height: 25%;
          display: flex;

          & h1 {
            font-style: italic;
            font-weight: bold;
            font-size: 15px;
            margin: 0;
            line-break: auto;
            font-family: $proxima;
            color: $black-text-color;
            display: flex;
            margin-left: 5px;
            justify-content: left;
            align-items: center;
            text-align: left;
          }

          & .img-container {
            width: 38px;
            height: 38px;
            padding: 4px;
            display:table;
            left: 0;
            background-size: cover;

            & span {
              display:table-cell;
              vertical-align:middle;
              width: 30px;
              height: 30px;
            }
          }
        }

        .text {
          height: 60%;
          text-align: left;

          & h1 {
            font-weight: bold;
            font-size: 50px;
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: left;
            align-items: center;
            text-align: left;
            line-break: auto;
            font-family: $proxima;
            color: $black-text-color;
          }
        }

        .stats {
          height: 15%;
          display: flex;
          .arrow {
            //padding: 5px;
            height: 100%;
            width: 12px;
            margin: 0;
            display: block;
            & span {
              background-size: cover;
              width: 12px;
              height: 20px;
              display: block;
              margin: 0;
            }
          }

          .arrow-text {
            color: $up;
            font-size: 14px;
            margin-left: 5px;
          }

          .stats-text {
            color: $gray-unactive;
            font-family: $proxima;
            font-size: 14px;
            margin-left: 5px;
            font-weight: 600;
          }
        }
      }
    }
  }

  .right {
    width: 40%;
    min-height: 180px;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    flex-wrap: wrap;

    & h1 {
      margin: 0;
      font-family: $proxima;
      font-size: 25px;
      font-weight: bold;
      font-style: italic;
      color: $black-text-color;
      height: fit-content;
    }

    & canvas {
      width: 100%;
      height: 400px;
    }

    & div {
      width: 220px;
      height: 40px;
      border-radius: $defaultCornerRadius;
      background: $main-app-color;
      font-size: 18px;
      font-family: $proxima;
      font-weight: bold;
      text-align: center;
      color: white;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 50%;
      position: relative;
      margin-top: 30px;
      transform: translateX(-50%);
      transition: 180ms $cubic all;
      &:hover {
        background: $main-app-color-hover;
      }
    }

  }
}

