<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="style1.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>

<nav>
    <div class="nav-wrapper row">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="hide-on-med-and-down">
            <li class="col s2"><a href="index1.html" class="center" style="color: azure"><b>Главная</b></a></li>
            <li class="col s2"><a href="my_projects.html" class="center" style="white-space: nowrap">Мои проекты</a>
            </li>
            <li class="col s2"><a href="deadlines.html" class="center">Дедлайны</a></li>
            <li class="col s2"><a href="achievements.html" class="center">Достижения</a></li>

            <!--Это всплывающее окно с фоткой. Как сделать короче - я в душе не ебу-->
            <li class="right"><a class="dropdown-trigger" href="#!" data-target="dropdown_menu"><img src="picture.jpg"
                                                                                                     alt="Это ваше фото"
                                                                                                     class="circle responsive-img"
                                                                                                     width="50"
                                                                                                     height="50"
                                                                                                     align="center"><i
                    class="material-icons right">arrow_drop_down</i> Меню</a></li>
        </ul>
    </div>
</nav>

<!-- Я НЕ ЗНАЮ КАК ЭТО ЗАПУСТИТЬ, ТАМ НАДО В .JS что-то добавлять и тд - я не умею) -->

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
</ul>
</body>
</html>