<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Хакатон</title>
    <link rel="stylesheet" href="./public/css/style.css">

    <script type="text/javascript" src="./public/jquery/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('button').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/bz2.html"
                }).success(function (data) {
                    let $bz = $('#z input[name="log"]').detach().css('background-color', 'red');
                    let $bz2 = $('#z input[name="pwd"]').detach().css('background-color', 'red');
                    $('#z').empty();
                    $('#z').html(data);
                    $('#z input[name="log"]').replaceWith($bz);
                    $('#z input[name="pwd"]').replaceWith($bz2);
                });
            });
        });
    </script>
</head>
<body>
<h1 class="enter_platform"><b>Вход на платформу</b></h1>
<div class="container">
    <form action="" class="form_block">
        <div class="log_data">
            <input type="text" name="log" placeholder="login"/><Br>
            <input type="password" name="pwd" id="pwd" placeholder="password"/>
            <script type="text/javascript">
                $('#form_block').append('<script type="text/javascript" src="jquery.min.js"></' + 'script>');
                $(document).ready(function () {
                    return;
                    $('#container form')
                            .append('<input type="text" name="log" value="" />')
                            .append('<input type="password" name="pwd" id="pwd" value="" />');
                });
            </script>
            <form method="post" action="">
                <p><input type="checkbox" name="save_data" value="false" checked>Запомнить меня
            </form>
        </div>
    </form>
</div>

<form action="" class="send_button">
    <button type="submit">Отправить</button>
</form>

<script src="index.js"></script>

</body>

</html>