<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Хакатон</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<h1 id="enter_platform">Вход на платформу</h1>
<form action="">
    <div id="log_data">
        <input type="text" name="login" placeholder="Логин"/><br>
        <input type="password" name="pass" placeholder="Пароль"/>
        <p><input type="checkbox" name="remem" value="false">Запомнить меня</p>
        <input type="submit" value="Войти"/>
    </div>
</form>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/js/login.js"></script>
</body>
</html>