<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Хакатон</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<h1 class="enter_platform"><b>Вход на платформу</b></h1>
<div class="container">
    <form action="" class="form_block">
        <div class="log_data">
            <input type="text" name="log" placeholder="login"/><Br>
            <input type="password" name="pwd" id="pwd" placeholder="password"/>
            <p><input type="checkbox" name="save_data" value="false" checked>Запомнить меня</p>
        </div>
    </form>
</div>
<button type="submit">Отправить</button>
<script type="text/javascript" src="./public/jquery/jquery.min.js"></script>
<script src="/js/login.js"></script>
</body>
</html>